GOOGLE_DRIVE_FOLDER_ID=1CLcyXsU1elN7t08SaiDWgIkJxSA1YTxu
GOOGLE_SPREADSHEET_ID=1nyNnj-JOi_17nPCs11Fodx82d07w6i0z6bFZ7iFJwE8
CREDENTIALS_FILE=credentials.json
RUN_INTERVAL_HOURS=24

# LinkedIn Followers Monitoring
LINKEDIN_API_KEY=
AUTOMATION_MODE=csv
